@import '../utils/breakpoints';
@import '../utils/flexbox';

.gappyContainer {
  @include gap(1rem 3rem);

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 0 0 50%;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem 2rem;

  > * {
    margin: 0.25rem 0.5rem;
  }
}

.searchForm {
  label {
    display: inline-block;

    input[type='checkbox'],
    input[type='radio'] {
      margin-right: 0.42em;
    }
  }
}

.missingSearchFormDataText {
  margin-bottom: 0;
}

.showAllBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
