@import '../utils/flexbox';

.metadataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include gap(1rem);
}

.title {
  margin-top: 0;
}

.metadataList {
  position: relative;
  padding: 0;
  line-height: 1.5;
  list-style: none;

  li::before {
    position: absolute;
    left: 0;
  }
}

@mixin list-item-emoji($emoji) {
  &::before {
    content: $emoji;
  }
}

.occasions {
  @include list-item-emoji('🕓');
}

.instructors {
  @include list-item-emoji('🎓');
}

.societyWebsite {
  @include list-item-emoji('🌐');
}

.courseListContainer {
  display: flex;
}

.courseListIcon {
  flex-shrink: 0;
  margin-right: 1rem;
}

.societyLogoContainer {
  flex: 0 0 8em;
}

.societyLogo {
  width: 100%;
}

.description {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.buttonsContainer {
  margin: 0.5em -1em -0.5em -1em;
  text-align: right;

  > * {
    margin: 0.5em 1em;
  }
}
