.labeledInput input {
  display: none;
}
.labeledInput span {
  display: inline-block;
  border: 0.15rem black solid;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.labeledInput input:checked ~ * {
  background-color: #000;
  color: #fff;
}
