@import '~normalize.css';

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #0288d1;
  text-decoration: none;

  header &,
  footer & {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 1.33em;

  legend {
    margin: 1.33em 0;
    font-weight: bold;
  }
}
